*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: #fff;
  margin: 0;

  font-family: 'Space Mono', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Lightmode */
  --primary: #0079ff;
  --primary-hover: #60abff;

  --txt-high-contrast: #2b3442;
  --txt-mid-contrast: #4b6a9b;
  --txt-low-contrast: #697c9a;
  --txt-search: #222731;
  --txt-autocomplete: #697c9a;

  --bg: #f6f8ff;
  --bg-secondary: #fefefe;
  --theme-switch-btn-hover: #222731;

  /* Neutral */
  --error-clr: #f74646;
  --forbidden-error-clr: #8d8d4a;
}

body.dark-theme {
  background-color: var(--bg);

  /* Darkmode */
  --primary: #0079ff;
  --primary-hover: #0062cc;

  --txt-high-contrast: #fff;
  --txt-mid-contrast: #ffff;
  --txt-low-contrast: #fff;
  --txt-search: #fff;
  --txt-autocomplete: #697c9a;

  --bg: #141d2f;
  --bg-secondary: #1e2a47;
  --theme-switch-btn-hover: #90a4d4;

  /* Neutral */
  --error: #f74646;
  --forbidden-error-clr: #e3e327;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
